[Unit]
Description=Print seconds since application got started (Web version)

[Service]
Type=notify
xecStart=/usr/libexec/sec-counter/sec-counter-web --dir /usr/share/sec-counter/webpage

[Install]
WantedBy=multi-user.target

