[Unit]
Description=Print seconds since application got started
SurviveFinalKillSignal=yes
IgnoreOnIsolate=yes
DefaultDependencies=no
After=basic.target
Conflicts=reboot.target
Before=reboot.target
Conflicts=kexec.target
Before=kexec.target
Conflicts=poweroff.target
Before=poweroff.target
Conflicts=halt.target
Before=halt.target
Conflicts=rescue.target
Before=rescue.target
Conflicts=emergency.target
Before=emergency.target

[Service]
Type=notify
ExecStart=/usr/libexec/sec-counter/sec-counter -s -j
RootImage=/opt/sec-counter.raw
TemporaryFileSystem=/var
TemporaryFileSystem=/tmp
BindReadOnlyPaths=/etc/machine-id
BindReadOnlyPaths=-/etc/resolv.conf
BindReadOnlyPaths=/run/systemd/journal /run/systemd/journal/stdout
BindReadOnlyPaths=/run/dbus/system_bus_socket

[Install]
WantedBy=multi-user.target
